<div class="row">
  <h1 class="text-center"><%= t "admin.waiter.table.map" %></h1>
</div>
<div id="container" class="table-container">
</div>
<div class="text-center">
  <button class="btn btn-primary edit-table-button">
    <%= t "button.edit" %>
  </button>
  <button class="btn btn-success hidden save-table-button">
    <%= t "button.save" %>
  </button>
  <button class="btn btn-danger hidden cancel-table-button">
    <%= t "button.cancel" %>
  </button>
</div>
